* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* Layout */
.container--1200 {
  max-width: 1200px;
  padding: 0 16x;
  background-color: blue;
  height: 300px;
  width: 100%;
}
